@page "/themes"
@inject IJSRuntime JS

<PageTitle>Template Themes</PageTitle>

<div class="container-xxl mt-3">

    <h1 class="text-center">Built in themes for app templates</h1>

    <div class="d-flex align-items-center justify-content-center my-3 flex-wrap gap-3">
        @foreach(string appTheme in appThemes)
        {
            <div class="card" data-ddn-theme="@appTheme">
                <div class="card-body">
                    <h3 class="card-title d-flex align-items-center">
                        Theme:&nbsp;<span style="color: var(--ddn-theme-core)">@appTheme</span>
                        <button class="btn btn-sm btn-primary ms-auto" @onclick="() => ChangeAppTheme(appTheme)">Set Theme</button>
                    </h3>
                    <h6 class="small fw-bold mt-3">Palette</h6>
                    <div class="d-flex align-items-center gap-0">
                        @foreach (string appThemeWeight in appThemeWeights)
                        {
                            <div style="background-color: var(--ddn-theme-@appThemeWeight); width:16px; height: 16px;"></div>
                        }
                    </div>
                    <div class="my-3">
                        <button class="btn btn-primary m-2">Primary Button</button>
                        <button class="btn btn-light m-2">Light Button</button>
                        <button class="btn btn-dark m-2">Dark Button</button>
                    </div>
                    <div>
                        Text with a <a href="#">clickable link</a> in the middle.
                    </div>
                </div>
            </div>
        }
    </div>

</div>


@code {
    public async Task ChangeAppTheme(string appTheme)
    {
        //setTheme is defined in index.html
        await JS.InvokeVoidAsync("setAppTheme", appTheme);
    }

    List<string> appThemes = new(){
        "code-magic",
        "blue",
        "indigo",
        "purple",
        "pink",
        "red",
        "orange",
        "yellow",
        "green",
        "teal",
        "cyan",
        "gray"
    };

    List<string> appThemeWeights = new()
    {
        "core",
        "100",
        "150",
        "200",
        "300",
        "400",
        "500",
        "600",
        "700",
        "800",
        "850",
        "900"
    };
}